
.cart {
    position: fixed;
    top: 0;
    right: 0;

    width: 400px;
    height: 100vh;

    background-color: white;

    z-index: 1001;

    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    color: #000;
    padding: 14px;
}

.cartOpen {
    transform: translateX(0);
}


.closeIcon{
    fill: #000;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.closeIcon:hover{
    background-color: gainsboro;
}

.cartHeaderWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}


.itemsLength{
    border: 1px solid black;
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 6px;
}

.cartContent{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;


    scrollbar-width: none;
}

.itemList{
    list-style-type: none;


}

.listItem{
    display: flex;
    
}

.cartWrapper{
    display: flex;
    justify-content: space-between;
    
}

.infoWrapper{
    display: flex;
    justify-content: space-between;
}

.sepDivs{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.name{
    font-family: var(--font-family);
}





.priceUnder{
    text-decoration: line-through;
    padding-left: 4px;
}


.deleteButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.cartFooter{
    margin-top: auto;
}


.estimatedPrice{
    display: flex;
    justify-content: space-between;
    color: gray;
    padding-top: 10px;
    font-size: 12pt;
}

.addText{
    font-size: 10pt;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-weight: bold;
}

.taxes{
    font-size: 10pt;
    padding-top: 10px;
    color: gray;
}


.checkButton{
    width: 100%;
    background-color: #000;
    border: none;
    height: 52px;
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease-in;
    cursor: pointer;
    margin-top: 10px;
}


.checkButton:hover{
    opacity: 0.8;
}


.wrapperButtons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}


.checkButtonApple{
    width: 210px;
    height: 52px;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
.checkButtonApple:hover{
    opacity: 0.8;
}



.checkButtonPayPal{
    width: 210px;
    height: 52px;
    border: none;
    cursor: pointer;
    background-color: lightblue;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
.checkButtonPayPal:hover{
    opacity: 0.8;
}

